.row{
    height: 900px;
    width: 1500px;
    border: 5px solid #000;
    /* border: 5px dashed #000;
    border: 5px dotted #000;
    border: 5px double #000;
     */
     text-align: center;
     display: flex;
     flex-wrap: nowrap;
     flex-wrap: wrap;

align-items: center;     
align-items: flex-end;
align-items: flex-start;

/* justify-content: center;
justify-content: space-between;
justify-content: space-around;
justify-content: space-evenly;
justify-content: flex-end; */

gap: 50px 100px;

flex-direction: row;
flex-direction: column;
flex-direction: column-reverse;
}

.item{
    width: 200px;
    height: 200px;
    border: 2px solid red;
    /* display: none; */
    /* display: inline-block; */
}
.item:nth-child(2n+1){
    background-color: #000;
    height: 400px;
    width: 400px;
}
.item:nth-child(2n){
    background-color: yellow;
}
.item:nth-child(4){
    background-color: green;
}